* {
  font-family: Helvetica, sans-serif;
  color: white;

}
.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;


}

.header img {
  display: inline-block;
  height: 50px;
  opacity: 0.9;
  padding-left: 10px;
}

.header nav span {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  display: inline-block;
  text-decoration: underline;
  padding-left: 10px;
}

.main-container {
  display: flex;
  margin-top: 50px;
  border: 1px solid black
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
  align-content: center;
  justify-content: center;
}

.mission-banner {
  background-image: url('../images/img-mission-background.jpg');
  height: 700px;
  width: 1200px;
  align-self: center;
  display: flex;
  justify-content: center;
  height: 700px;
  flex-direction: column;
  align-items: flex-end;
  /* align-content: center; */

}

.mission-text {
  width: 1200px;
  display: inline-flex;
  align-items: center;
  color: white;
  background-color: black;
  flex-direction: column;
  justify-content: center;

}

.flavors-text {
  display: flex;
  flex-direction: column;
  width: 1000px;
  align-items: center;
}

.flavors-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
  /* flex-basis: 1000px; */
  align-items: center;
  align-self: center;

}

.flavor {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.left-flavor {
  padding-right: 50px;
}

.flavor img {
  width: 300px;
  height: 200px;
  padding-bottom: 10px;
}

.Locations-text {
  display: flex;
  flex-direction: column;
  width: 1200px;
  align-items: center;
}

.locations {
  background-image: url('../images/img-locations-background.jpg');
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 1200px;
  height: 500px;
  align-items: center;
  align-self: center;
}

.location-boxes {
  justify-content: space-between;
  flex-basis: 980px;

}

.location {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: black;
  border: 1px solid red;
}

.left-loc {
  padding-right: 40px;
}
