* {
  font-family: Helvetica, sans-serif;
  color: seashell;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  line-height: 0;
}

h1 {
  font-size: 140%;
  }

h2 {
  font-size: 130%;
  }

h3 {
  font-size: 120%;
  }

h4 {
  font-size: 110%;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 1300px;
}

.header img {
  display: inline-block;
  height: 50px;
  padding-left: 10px;
}

.header nav span {
  display: inline-block;
  text-decoration: underline;
  padding-right: 10px;
}

.main-container {
  display: flex;
  margin-top: 70px;
  border: 1px solid black;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
  align-content: center;
  justify-content: center;
  width: 1300px;
}

.mission-banner {
  background-image: url('../images/img-mission-background.jpg');
  height: 700px;
  width: 1200px;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

.mission-text {
  width: 1200px;
  display: inline-flex;
  align-items: center;
  color: white;
  background-color: black;
  flex-direction: column;
  justify-content: center;
}

.flavors-text {
  display: flex;
  flex-direction: column;
  width: 1300px;
  align-items: center;
}

.flavors-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
  align-items: center;
  align-self: center;
}

.flavor {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.left-flavor {
  padding-right: 50px;
}

.flavor img {
  width: 300px;
  height: 200px;
  padding-bottom: 10px;
}

.locations {
  background-image: url('../images/img-locations-background.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  height: 500px;
  align-items: center;
  align-self: center;
}

.location-boxes {
  width: 980px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.locations h2 {
  background-color: transparent;
  line-height: 0;
  padding-bottom: 15px;
}

.location {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: black;
  opacity: 1;
}

.contact-copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1300px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.copyright {
  align-self: flex-start;
  padding-left: 20px;
}
